
.btn {
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  border-radius: 3px;
  &:link{
    color: #fff;
  }
  &:visited{
    color: #fff;
  }
  &:hover{
    color: #fff;
  }
  &:active{
    color: #fff;
  }
}

.btn-lg {
  font-size: 2em;
  min-width: 6em;
}

.btn-success {
  background: $color-complement-4;
  &:hover {
    background: $color-complement-3;
  }
}

.btn-warning {
  background: #c31;
  &:hover{
    background: #910;
  }
}
