<aside>
    <% if user_signed_in? %>
    <section class="shelves">
        <a href="/books">All</a>
        <a href="#">Wish List</a>
        <a href="#">Bought</a>
        <a href="#">Reading</a>
        <a href="#">Done</a>
    </section>
    <% end %>
</aside>